body {
    display: flex;
    align-items: center;
}
.background {
    width: 100%;
    opacity: 1;
    background-color: rgba(112,158,221,1);
    border-radius: 15px;
    height: 100vh;
}
.title {
    margin-left: 13.8%;
    margin-top: 42%;
    width: 77%;
    height: 35px;
    opacity: 1;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 34.75px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    vertical-align: top;
}
.bg0 {
    margin-left: 2.2%;
    margin-top: 4%;
    padding-top: 1.5%;
    box-sizing: border-box;
    width: 96%;
    height: 32%;
    opacity: 1;
    border-radius: 22px;
    background: rgba(214, 228, 242, 1);
}
.bg1 {
    margin-left: 1.5%;
    width: 97%;
    height: 97%;
    opacity: 1;
    border-radius: 21.5px;
    background: rgba(249, 249, 249, 1);
}
.name-input {
    margin-top: 15%;
    height: 20%;
    margin-left: 13%;
    width: 70%;
    border: none;
    background: rgba(249, 249, 249, 1);
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
}
hr {
    margin-top: 0px;
    width: 86%;
    height: 0px;
    opacity: 1;
    border-radius: 1px;
    border: 2px solid rgba(0, 0, 0, 0.38);
}
.start {
    margin-left: 14%;
    margin-top: 7.5%;
    width: 72%;
    height: 42px;
    opacity: 1;
    border-radius: 9px;
    background: rgba(157, 189, 231, 1);
    box-shadow: 0px 8px 12px  rgba(157, 189, 231, 0.6);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 26.06px;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: center;
    display: flex;
}