body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.background {
    width: 100%;
    opacity: 1;
    background-color: rgba(112,158,221,1);
    border-radius: 15px;
    height: 100vh;
}
.reg-word {
    margin-left: 32px;
    margin-top: 35px;
    width: 180px;
    height: 44px;
    opacity: 1;
    /** 文本1 */
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 43.44px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    vertical-align: top;
}
.bg0 {
    margin-left: 2%;
    margin-top: 4.5%;
    padding-top: 2%;
    box-sizing: border-box;
    width: 96%;
    height: 82%;
    opacity: 1;
    border-radius: 56.28px;
    background: rgba(214, 228, 242, 1);
}
.bg1 {
    margin-left: 2%;
    margin-top: 1%;
    width: 96%;
    height: 98%;
    opacity: 1;
    border-radius: 55px;
    background: rgba(249, 249, 249, 1);
}
.user-tip {
    height: 18px;
    margin-left: 24px;
    display: flex;
}
.user-pic {
    height: 16px;
    width: 16px;
    margin-left: 3px;
    margin-top: 74px;
    padding-right: 3px;
}
.user-word {
    margin-top: 70px;
    width: 57px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(46, 112, 208, 1);
}
.user-input {
    margin-top:86px;
    margin-left: 21px;
    border: none;
    width: 240px;
    height: 18px;
    background: rgba(249, 249, 249, 1);
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}
hr {
    margin-top: 13px;
    width: 86%;
    height: 0px;
    opacity: 1;
    border: 2px solid rgba(0, 0, 0, 0.38);
    border-radius: 1px;
}
.password-pic {
    height: 16px;
    width: 16px;
    margin-left: 3px;
    margin-top: 16px;
    padding-right: 3px;
}
.password-word {
    margin-top: 13px;
    width: 57px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(46, 112, 208, 1);
}
.password-input {
    margin-top: 30px;
    margin-left: 21px;
    border: none;
    width: 240px;
    height: 18px;
    background: rgba(249, 249, 249, 1);
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}
.mail-tip {
    height: 18px;
    margin-left: 24px;
    display: flex;
}
.mail-pic {
    height: 16px;
    width: 16px;
    margin-left: 3px;
    margin-top: 18px;
    padding-right: 3px;
}
.mail-word {
    margin-top: 15px;
    width: 57px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(46, 112, 208, 1);
}
.mail-input {
    margin-top: 30px;
    margin-left: 21px;
    border: none;
    width: 240px;
    height: 18px;
    background: rgba(249, 249, 249, 1);
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}
.reg-button {
    margin-left: 13.3%;
    margin-top: 15%;
    width: 74%;
    height: 42px;
    opacity: 1;
    border-radius: 9px;
    background: rgba(157, 189, 231, 1);
    box-shadow: 0px 8px 12px  rgba(157, 189, 231, 0.6);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 26.06px;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
.return {
    margin-left: 115px;
    margin-top: 17px;
    width: 104px;
    height: 20px;
    opacity: 1;
    text-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.25);
    /** 文本1 */
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 18.82px;
    color: rgba(46, 112, 208, 0.9);
    text-align: left;
    vertical-align: top;
    cursor: pointer;
}