body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.bg {
    width: 100%;
    opacity: 1;
    background-color: rgba(112, 158, 221, 1);
    border-radius: 15px;
    height: 100vh;
}

.back-and-title {
    display: flex;
    height: 28px;
    margin-top: 10px;
    margin-left: 24px;
}

.back-pic {
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-left: 0px;
}

.title {
    margin-top: 0px;
    margin-left: 120px;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 27.51px;
    color: rgba(247, 247, 247, 1);
    text-align: left;
    vertical-align: top;
}

.setting {
    margin-top: 2.5%;
    padding-top: 43px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    opacity: 1;
    border-radius: 52px 52px 15px 15px;
    background: rgba(157, 189, 231, 1);
}

.change {
    margin-left: 8.3%;
    width: 83.3%;
    height: 47px;
    opacity: 1;
    display: flex;
    background: rgba(214, 228, 242, 0.2);
}

.user {
    border-radius: 10px 10px 0px 0px;
}

.c-user-pic {
    height: 22px;
    width: 18px;
    margin-top: 13px;
    margin-left: 17px;
}

.change-word {
    margin-top: 12px;
    height: 22px;
    opacity: 1;
    /** 文本1 */
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 21.72px;
    color: rgba(247, 247, 247, 1);
    text-align: left;
    vertical-align: top;
}

.user-word {
    margin-left: 12px;
}

.ani {
    margin-top: 2px;
}

.c-ani-pic {
    height: 18px;
    width: 21px;
    margin-top: 13px;
    margin-left: 17px;
}

.ani-word {
    margin-left: 9px;
}

.quit {
    margin-top: 3px;
    border-radius: 0px 0px 10px 10px;
}

.quitlogin-pic {
    height: 20px;
    width: 20px;
    margin-top: 13px;
    margin-left: 15px;
}

.quit-word {
    margin-left: 12px;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    opacity: 1;
    background: rgba(54, 54, 54, 0.2);
    border-radius: 15px;
}

.modal {
    margin-top: 48%;
    margin-left: 8.3%;
    padding-top: 2%;
    width: 80%;
    height: 30%;
    opacity: 1;
    border-radius: 18.5px;
    background: rgba(214, 228, 242, 1);
}

.modal-bg {
    margin-left: 2%;
    width: 96%;
    height: 96%;
    opacity: 1;
    border-radius: 16.87px;
    background: rgba(249, 249, 249, 1);
}

.modal p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 15%;
    display: inline-flex;
    margin-left: 25%;
    color: rgba(46, 112, 208, 1);
}

.modal input {
    border: none;
    margin-left: 15%;
    width: 70%;
    height: 18px;
    background: rgba(249, 249, 249, 1);
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}

hr {
    margin-left: 10%;
    width: 80%;
    height: 0px;
    opacity: 1;
    border: 1.6px solid rgba(0, 0, 0, 0.38);
    border-radius: 1px;
}

.confirm-button {
    width: 79%;
    height: 42px;
    opacity: 1;
    border-radius: 9px;
    background: rgba(157, 189, 231, 1);
    box-shadow: 0px 8px 12px rgba(157, 189, 231, 0.6);
    margin-left: 10.5%;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: center;
    display: flex;
}

.vector {
    position: fixed;
    height: 14px;
    width: 7px;
    margin-top: 16.5px;
    margin-right: 8px;
    right: 12%;
}